<h2>Account Info</h2>

<div class="profile">
  <div class="main-info">
    <img src="../../../../../assets/img/pfp.jfif" alt="" />
    <div class="text">
      <h1>
        Cristina Herega
        <i class="fi fi-sr-trash"></i>
      </h1>
      <p>started 2 months ago</p>
    </div>
  </div>
  <div class="learn-info">
    <div class="days square">
      <h3>accesed</h3>
      <div class="number">6</div>
      <div class="kind">days</div>
    </div>
    <div class="hours square">
      <h3>spent</h3>
      <div class="number">0.2</div>
      <div class="kind">hours</div>
    </div>
    <div class="learning-cards square">
      <h3>learning</h3>
      <div class="number">{{totalCards}}</div>
      <div class="kind">cards</div>
    </div>
  </div>
</div>
