<h2>Account Info</h2>

<div class="profile">
  <div class="main-info">
      <h1>
        {{email}}
        <i class="fi fi-sr-trash" (click)="deleteAccount()"></i>
      </h1>
  </div>
  <div class="learn-info">
    <div class="days square">
      <h3>accesed</h3>
      <div class="number">{{daysEntered}}</div>
      <div class="kind">days</div>
    </div>
    <div class="hours square">
      <h3>spent</h3>
      <div class="number">{{hoursSpent}}</div>
      <div class="kind">hours</div>
    </div>
    <div class="learning-cards square">
      <h3>learning</h3>
      <div class="number">{{totalCards}}</div>
      <div class="kind">cards</div>
    </div>
  </div>
</div>
