<div class="color-part">
  <header>
    <div class="logo">
      <img src="../assets/img/logo.png" alt="" />
      <h1>Memozora</h1>
    </div>
    <div class="account-options">
      <button class="sign-up-button" (click)="setKindOfForm('sign-up')" routerLink="/account-form">Sign up</button>
      <button class="login-button" (click)="setKindOfForm('log-in')" routerLink="/account-form">Login</button>
    </div>
  </header>
  <div class="main">
    <h2>Memorize Anything, Never Forget</h2>
    <p>
      An online flashcard maker powered by the science of spaced repetition.
      Create your own flashcards, and Memozora will plan the optimal quiz
      schedules based on your progress. Featuring multi-language dictionaries,
      various quiz formats, etc.
    </p>
    <button routerLink="/account-form"(click)="setKindOfForm('Sign up')" >Start Learning (for free)</button>
  </div>
  <div class="img">
    <img src="../assets/img/mock-pc-mobile4.png" alt="" />
  </div>
</div>

<div class="no-color-part">
  <h1>Works Best for Language Learning</h1>
  <p class="description">
    We have built-in dictionaries and text-to-speech feature to help language
    learners. The supported languages are Arabic, Chinese, Dutch, English,
    French, German, Hindi, Italian, Japanese, Korean, Portuguese, Russian,
    Spanish, Turkish, and Thai.
  </p>
  <h2>What People Say?</h2>
  <div class="comments">
    <div class="comment">
      <i class="fi fi-sr-square-quote"></i>
      <p>
        chatGPT-4 recommended Memozora when I told it I do not like Quizlet and
        wanted a better flash card app that can work in a chrome browser on a
        Chromebook. I have made my first card deck and and very impressed and
        pleased with how Memozora is helping me increase my Spanish vocabulary.
        It is simple with no frills and does exactly what I want it to do.
      </p>
      <div class="author">Robert</div>
    </div>
    <div class="comment">
      <i class="fi fi-sr-square-quote"></i>
      <p>
        This is the best flashcard app ever! This is exactly what I have been
        searching for, for a long time now! Srsly Quizlet, Anki, Brainscape
        can't compare... nothing suits me more than this. I really love how
        simple it is and most of all the spaced repetition!
      </p>
      <div class="author">Anika</div>
    </div>
    <div class="comment">
      <i class="fi fi-sr-square-quote"></i>
      <p>
        a minimalistic, yet super effective way to create your own flashcards
        online and test yourself before the big day!
      </p>
      <div class="author">Habisus</div>
    </div>
    <div class="comment">
      <i class="fi fi-sr-square-quote"></i>
      <p>I really would like more people know this awesome app!</p>
      <div class="author">Jorge</div>
    </div>
  </div>
  <h2>How it works?</h2>
  <div class="steps-how-it-works">
    <div class="step">
      <div class="step-number">1</div>
      <h3>Create your own flashcard</h3>
      <p>
        Add whatever you want to remember as a card. Card consists of front
        (question) and back (answer) just like physical flashcard.
      </p>
      <img src="../assets/img/step-1.png" alt="" />
    </div>
    <div class="step">
      <div class="step-number">2</div>
      <h3>Learn effectively with Spaced Repetition method</h3>
      <p>
        With Spaced Repetition method, you will learn difficult cards more often
        and easy cards less. This will make your learning more effective.
      </p>
      <img src="../assets/img/step-2.png" alt="" />
    </div>
    <div class="step">
      <div class="step-number">3</div>
      <h3>Check your progress with intuitive graphs</h3>
      <p>
        The retention level for each card is represented in 3 categories from
        Low to High. You can easily track how many cards you remember on each
        day
      </p>
      <img src="../assets/img/step-3.png" alt="" />
    </div>
  </div>
  <h2>Learn Effectively with Spaced Repetition</h2>
  <div class="spaced-repetition">
    <div class="spaced-repetition-img">
      <img src="../assets/img/spaced-repetition.png" alt="" />
    </div>
    <p>
      It is an evidence-based learning technique. In this technique, newly
      introduced and more difficult flashcards are shown more frequently, while
      older and less difficult flashcards are shown less frequently. The use of
      spaced repetition has been proven to increase the rate of learning.
    </p>
  </div>
</div>

<div class="more-features">
  <h2>More features</h2>
  <div class="features">
    <div class="feature">
      <div class="icon">
        <i class="fi fi-sr-devices"></i>
      </div>
      <div class="text">
        <h4>Works with PC and mobile</h4>
        <p>
          It is a browser based application, so you can use it either from PC
          or mobile
        </p>
      </div>
    </div>
    <div class="feature">
      <div class="icon"><i class="fi fi-sr-exchange-alt"></i></div>
      <div class="text">
        <h4>Import & export</h4>
        <p>You can import and export your flashcards in CSV format.</p>
      </div>
    </div>
    <div class="feature">
      <div class="icon"><i class="fi fi-sr-file-word"></i></div>
      <div class="text">
        <h4>Built-in dictionary (premium)</h4>
        <p>
          Look up translations and example sentences, and seaminglessly save
          the results as a flashcard.
        </p>
      </div>
    </div>
    <div class="feature">
      <div class="icon"><i class="fi fi-sr-volume"></i></div>
      <div class="text">
        <h4>Text-to-speech</h4>
        <p>
          If enabled, it will speak words and sentences written on the card.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="get-started">
 <div class="light-logo">
  <img src="../assets/img/light-logo.png" alt="">
 </div> 
 <h2>Get started with Memozora</h2>
 <p>Let's start learning effectively with Memozora. It's free.</p>
 <button routerLink="/sign-up">Start Learning (for free)</button>
</div>

<footer>
  <div class="links">
    <div class="option" routerLink="/introduction">home</div>
  </div>
  <div class="copyright">© 2024 Memozora</div>
 

</footer>
