<h2>My decks</h2>
<div>
  @if(cards) {
  <button class="learn" (click)="setShowCardsToLearn(true)">
    <i class="fi fi-sr-rocket-lunch"></i>
    Learn All
  </button>
  }
</div>

<div class="decks">
  @for (deck of decks; track deck.id) {
  <deck [deck]="deck" (showCardPanel)="setShowCardPanel(true)"></deck>
  @if (showDeckForm) {
  <deck-form
    [deck]="deck"
    (hideShowDeckForm)="setShowDeckForm(false)"
    (showCardForm)="setShowCardForm(true)"
  ></deck-form>
  } @if (showCardPanel) {
  <div class="card-panel">
    @if(cards) {
    <div class="card-panel__option" (click)="setShowCardsToLearn(true)">
      <i class="fi fi-sr-rocket-lunch"></i>
      Start learning
    </div>
    }
    <div class="card-panel__option" (click)="setShowCardForm(true)">
      <i class="fi fi-sr-plus"></i>
      add card
    </div>
    <div class="card-panel__option" (click)="editDeck(deck)">
      <i class="fi fi-sr-edit"></i>
      edit deck
    </div>
  </div>
  }
  }
  <button class="new-deck" (click)="setShowDeckForm(true)">
    <i class="fi fi-sr-add"></i>
    Create new deck
  </button>
</div>

@if (showCardsToLearn) {
<div class="cards-to-learn">
  <h1>How many cards to learn?</h1>
  <div
    class="cards-to-learn__option"
    (click)="setCardsToLearn(5)"
    routerLink="/learn"
  >
    5
  </div>
  <div
    class="cards-to-learn__option"
    (click)="setCardsToLearn(10)"
    routerLink="/learn"
  >
    10
  </div>
  <div
    class="cards-to-learn__option"
    (click)="setCardsToLearn(15)"
    routerLink="/learn"
  >
    15
  </div>
  <div
    class="cards-to-learn__option"
    (click)="setCardsToLearn('All')"
    routerLink="/learn"
  >
    All
  </div>
</div>
} @if (showDeckForm) {
<deck-form
  (hideShowDeckForm)="setShowDeckForm(false)"
  (showCardForm)="setShowCardForm(true)"
></deck-form>
} @if (showCardForm) {
<card-form (hideShowCardForm)="setShowCardForm(false)"></card-form>
}
