<div class="content">
  <button class="finish"><i class="fi fi-sr-angle-double-small-right"></i> Finish</button>

  <div class="progress">
    <progress id="file" max="100" value="70">70%</progress> 1/3
  </div>
  s

  <div class="card">
    card Name
  </div>

  <div class="message">Guess the answer</div>

  <div class="manage-buttons">
    <button class="flip manage-button">
      <i class="fi fi-sr-rotate-right"></i>
    </button>
    <button class="no manage-button">
      <i class="fi fi-sr-cross"></i>
    </button>
    <button class="yes manage-button">
      <i class="fi fi-sr-check"></i>
    </button>
    <button class="next manage-button">
      <i class="fi fi-sr-arrow-right"></i>
    </button>
  </div>
</div>
