<div class="content">
  <img src="../../../assets/img/dark-logo.png" alt="" routerLink="/introduction"/>
  <h1>Create account</h1>

  <form action="">
    <div class="field">
      <h2>Email</h2>
      <input type="text" placeholder="example@mail.com" />
    </div>
    <div class="field">
      <h2>Password</h2>
      <input type="text" />
    </div>
    <button type="submit" routerLink="/app/home">Sign up</button>
  </form>
  <div class="question">Already have an account?</div>
  <div class="other-kind-account" routerLink="/login">Log in</div>
</div>
